.grid-container {
margin-top: 130px ;
display: grid;
grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 980px) {
  .grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
}

@media screen and (max-width: 650px) {
  .grid-container {
  display: grid;
  grid-template-columns: auto;
}
}

*{
  background-color: rgb(255, 255, 255);
}

.grid-item {
font-size: 30px;
border: rgb(8, 253, 163);  
text-align: center;
}

img {
height: 200px;
width: 300px;
}

.button{
  margin-top: 40px;
  background-color: #0056b3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 50px;
}

* {
font-family: myFirstFont;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}


/* Center the filter in the middle of the page */
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Styling for the brand filter dropdown */
.brand-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px; /* Larger font size */
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: gray; /* Light background for contrast */
}

/* Making the select dropdown larger */
.brand-filter select {
  padding: 12px;
  font-size: 18px;
  width: 250px; /* Increased width for better visibility */
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
}


label
{
  color: black;
  background-color: gray;
  font-weight: bold;
}